<div id="navbar" class="navbar-fixed scrollspy">
  <nav class="purple lighten-1">
    <div class="nav-wrapper container">
      <a id="logo-container" class="brand-logo head-link" href="#navbar"
        ><i class="material-icons">cloud</i>Tudo guloso</a
      >
      <ul class="right hide-on-med-and-down">
        <li><a class="head-link" href="#navbar">início</a></li>
        <li><a class="head-link" href="#projects">Projects</a></li>
        <li><a class="head-link" href="#aboutus">About Us</a></li>
        <li><a class="head-link" href="#contactus">Contact Us</a></li>
      </ul>
    </div>
  </nav>
</div>

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br /><br />
      <h1 class="header center teal-text text-lighten-2">Tudo guloso</h1>
      <div class="row center">
        <h5 class="header col s12 light">Encha o seu buchinho e o coração</h5>
      </div>
      <div class="row center">
          <%= link_to "Entre agora",sign_in_path, class: "btn-large waves-effect waves-light purple lighten-1" %>
        
      </div>
      <br /><br />
    </div>
  </div>
  <div class="parallax">
    <img
      src="https://cdn.pixabay.com/photo/2017/01/04/05/41/love-1951386_960_720.jpg"
      alt="Unsplashed background img 2"
    />
  </div>
</div>

<div class="container">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center" style="color:#333">
            <i class="mdi-av-new-releases"></i>
          </h2>
          <h5 class="center">Feature one</h5>

          <p class="light">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center" style="color:#333">
            <i class="mdi-hardware-cast"></i>
          </h2>
          <h5 class="center">Feature two</h5>

          <p class="light">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center" style="color:#333">
            <i class="mdi-hardware-keyboard-alt"></i>
          </h2>
          <h5 class="center">Feature three</h5>
          <p class="light">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12" style="color: #333;">
          O <b>amor</b> se <b>conquista</b> tambem pela <b>barriga!</b>
        </h5>
      </div>
    </div>
  </div>
  <div class="parallax">
    <img
      src="https://cdn.pixabay.com/photo/2014/02/11/18/17/cake-264224_960_720.jpg"
      alt="img"
    />
  </div>
</div>

<div class="container section scrollspy" id="projects">
  <div class="section">
    <br />
    <br />
    <h4 class="center">Our Work</h4>
    <br />
    <div class="row">
      <div class="col s6">
        <img
          class="materialboxed responsive-img"
          data-caption="Description about the work or project"
          src="https://cdn.pixabay.com/photo/2017/08/03/19/12/people-2577946_960_720.jpg"
        />
      </div>
      <div class="col s6">
        <img
          class="materialboxed responsive-img"
          data-caption="Description about the work or project"
          src="https://cdn.pixabay.com/photo/2017/08/03/19/12/people-2577946_960_720.jpg"
        />
      </div>
    </div>
    <!--row-->

    <div class="row">
      <div class="col s6">
        <img
          class="materialboxed responsive-img"
          data-caption="Description about the work or project"
          src="https://cdn.pixabay.com/photo/2017/08/03/19/12/people-2577946_960_720.jpg"
        />
      </div>
      <div class="col s6">
        <img
          class="materialboxed responsive-img"
          data-caption="Description about the work or project"
          src="https://cdn.pixabay.com/photo/2017/08/03/19/12/people-2577946_960_720.jpg"
        />
      </div>
    </div>
    <!--row-->

    <div class="center">
      <a class="waves-effect waves-light btn purple lighten-1">View more</a>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper section scrollspy" id="aboutus">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="center row col s3">
        <h3>About Us</h3>
      </div>
      <div class="center row col s12">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim veniam
        </p>
      </div>
    </div>
  </div>
  <div class="parallax">
    <img
      src="https://cdn.pixabay.com/photo/2017/08/03/19/12/people-2577946_960_720.jpg"
      alt="img"
    />
  </div>
</div>

<div class="container section scrollspy" id="contactus">
  <div class="section">
    <br />
    <br />
    <h2>Contact Us</h2>

    <div class="row">
      <form class="col s8">
        <div class="row">
          <div class="input-field col s6">
            <input id="name" type="text" class="validate" />
            <label for="name">Your Name</label>
          </div>

          <div class="input-field col s6">
            <input id="email" type="email" class="validate" />
            <label for="email">Your Email</label>
          </div>
        </div>
        <!--row-->

        <div class="row">
          <div class="input-field col s12">
            <input id="message-sub" type="email" class="validate" />
            <label for="message-sub">Message Subject</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <textarea id="text_area" class="materialize-textarea"></textarea>
            <label for="text_area">Your Message</label>
          </div>
        </div>

        <div>
          <a class="waves-effect waves-light btn purple lighten-1"
            >Send Message<i class="mdi-content-send right"></i
          ></a>
        </div>
      </form>

      <div class="col s12 m4">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam
        </p>
        <ul class="share-buttons">
          <li>
            <a href="https://www.facebook.com/" target="_blank" title="Facebook"
              ><img
                src="https://image.flaticon.com/icons/svg/1051/1051309.svg"
                width="30px"
                height="30px"
            /></a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/"
              target="_blank"
              title="Instagram"
              ><img
                src="https://image.flaticon.com/icons/svg/1051/1051313.svg"
                width="30px"
                height="30px"
            /></a>
          </li>
          <li>
            <a href="https://twitter.com" target="_blank" title="Twitter"
              ><img
                src="https://image.flaticon.com/icons/svg/1051/1051331.svg"
                width="30px"
                height="30px"
            /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<%= render partial: './common/footer' %>

<!--  Scripts-->

<script>
  $(".head-link").click(function(e) {
    e.preventDefault();

    var goto = $(this).attr("href");

    $("html, body").animate(
      {
        scrollTop: $(goto).offset().top
      },
      800
    );
  });
</script>
