<%= render partial: './common/header' %></div>

<div class="div-body container">
<h1>New dish</h1>

<%= render 'form', dish: @dish %>

<%= link_to 'Back', dishes_path %>

</div>
<%= render partial: './common/footer' %>
